<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venda de produtos</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Yanone+Kaffeesatz:wght@400;700&display=swap');
        *{
            font-family: 'Francois One';
        }
    </style>
</head>