<div
  class="relative z-30 mt-8 sm:px-8 px-4 sm:mx-10 mx-8 rounded-lg top-0 inset-x-0 p-4 bg-white shadow-lg flex justify-between items-center"
>
  <div>
    <a href="/v/products" class="font-bold text-lg text-violet-600"
      >Node<span class="text-violet-950">Engine</span>
    </a>
  </div>
  <div x-data="{open: false, toggleMenu(){this.open = !this.open},}" class="sm:hidden flex">
    <button class="border border-violet-500 rounded-full p-2"
    @click="toggleMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-5 h-5"
      >
        <path
          fill-rule="evenodd"
          d="M12 3.75a.75.75 0 01.75.75v13.19l5.47-5.47a.75.75 0 111.06 1.06l-6.75 6.75a.75.75 0 01-1.06 0l-6.75-6.75a.75.75 0 111.06-1.06l5.47 5.47V4.5a.75.75 0 01.75-.75z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
    <%- include('./navmenu-mobile.ejs') %>
  </div>
  <div class="sm:flex hidden items-center sm:space-x-2 space-x-0">
    <a
      href=""
      class="transition-colors px-4 py-2 flex items-center font-bold text-sm border-b-2 border-b-white hover:bg-violet-100 hover:border-b-violet-800 rounded-lg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-4 h-4 mr-2"
      >
        <path
          d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"
        />
        <path
          d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"
        />
      </svg>
      Home
    </a>

    <a
      href=""
      class="transition-colors px-4 py-2 flex items-center font-bold text-sm border-b-2 border-b-white hover:bg-violet-100 hover:border-b-violet-800 rounded-lg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-4 h-4 mr-2"
      >
        <path
          d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"
        />
      </svg>
      Products
    </a>
  </div>
</div>
